<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Git conflicts</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Los conflictos en <strong>git</strong> suelen
						presentarse cuando queremos subir cambios teniendo una
						version desactualizada del proyecto principal alojado en
						<strong>github</strong> o tambien cuando varios
						desarrolladores trabajan sobre una misma linea.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Diferente desarrollador en diferente rama</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c01.png"
								alt="diferentes desarrolladores"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Colombia sube cambios a github</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c02.png"
								alt="subiendo cambios a github"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							03. Holanda presenta error al subir cambios a github
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c03.png"
								alt="error al subir cambios"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Holanda actualiza a la version actual</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c04.png"
								alt="actualizar version"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Holanda finalmente puede subir sus cambios</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c05.png"
								alt="subir cambios"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Cambios reflejados en github</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c06.png"
								alt="cambios reflejados"
							/>
						</div>
					</section>

					<div class="division_line">
						-------------------- End --------------------
					</div>

					<section class="sect_content">
						<h3>
							01. Colombia modifica la linea 13 de su proyecto
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/l01.png"
								alt="modificando una linea"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Holanda modifica la linea 13 de su proyecto</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/l02.png"
								alt="modificando una linea"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							03. Holanda presenta error al subir cambios a github
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/l03.png"
								alt="modulo"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							04. Despues de actualizar Holanda tiene un conflicto
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/l04.png"
								alt="resolviendo el conflicto"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							05. Holanda sube cambios despues de resuelto el
							conflicto
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/c05.png"
								alt="conflicto resuelto"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Cambios reflejados</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/conflictos/l06.png"
								alt="cambios reflejados"
							/>
						</div>
					</section>
				</div>

				<!--  
                    section_footer
                -->
				<footer class="section_footer">End Git Conflicts</footer>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
