<!--  
	search_box: contenedor de 1 tag-input y 1 tag-a
-->
<div class="search_box">
	<!--  
		tag-input: en esta definimos el buscador
	-->
	<input type="text" name="search" placeholder="Buscar" />

	<!--  
		tag-a: contiene 1 tag-svg
	-->
	<a href="#" class="search_btn">
		<!--  
			tag-svg: en esta definimos el icono del buscador
		-->
		<svg viewBox="0 0 24 24">
			<path
				d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
			></path>
		</svg>
	</a>
</div>

<!--  
	ul: en esta definimos los items del menu de navegacion
-->
<ul>
	<li><a href="/git-config">01. Git config</a></li>
	<li><a href="/git-init">02. Git init</a></li>
	<li><a href="/git-commit">03. Git commit</a></li>
	<li><a href="/git-push">04. Git push</a></li>
	<li><a href="/git-log">05. Git log</a></li>
	<li><a href="/git-branch">06. Git branch</a></li>
	<li><a href="/git-merge">07. Git merge</a></li>
	<li><a href="/git-pull">08. Git pull</a></li>
	<li><a href="/git-clone">09. Git clone</a></li>
	<li><a href="/git-ignore">10. Git ignore</a></li>
	<li><a href="/git-hub">11. Github</a></li>
	<li><a href="/git-pages">12. Github pages</a></li>
	<li><a href="/git-conflicts">13. Github conflicts</a></li>
</ul>
